.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    height: 100vh;
    color:aliceblue;
    width: 33%;
    border: 1px solid black;
}